*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
}
nav .onglet{
        margin-top: 3px;
        margin-left: 300px;
}
nav a{
    text-decoration: none;
    color: rgb(241, 241, 127);
    cursor: pointer;
}
nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100%;
}
nav h1{
    margin-right: 200px;
    color: rgb(26, 199, 90);
}
nav li{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.sub-menu, .menu{
    display: none;
    position: absolute;
    background-color:rgb(26, 199, 90); 
    width: 200px;
}
.sub-menu li, .menu li{
    display: block;
}
nav li a{
    display: block;
    padding: 20px;
}
nav li a:hover{
   background-color: rgb(26, 199, 90);
   color: #fff;
}
nav li:hover .sub-menu{
    display: block;
}
nav li:hover .menu{
    display: block;
}
header{
    display: flex;
    flex-direction:column ;
    align-items: center;
    background: url("./images/Destination-Afrique-lieux-tourisme-au-Cote-dIvoire.jpg");
    background-size: cover;
    color:rgb(241, 241, 127);
    padding: 50px;
}
header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-top: 400px;
}
header button{
    padding: 10px 20px;
    background-color: #fcfafa;
    color: rgb(26, 199, 90) ;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 10px;
}
header button a{
    text-decoration: none;
    background-color: #f7f5f5;
    color: rgb(26, 199, 90);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
section .texte p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 50px;
}
.service1{
    display: flex;
    background-color: rgba(80, 196, 249, 0.5);
    padding: 20px;
    height: 300px;
}
.service1 img{
    height: 250px;
}
.service2{
    display: flex;
    background-color: rgba(80, 196, 249, 0.5);
    padding: 20px;
    height: 300px;
}
.service2 img{
    height: 250px;
}
.service3{
    display: flex;
    background-color: rgba(80, 196, 249, 0.5);
    padding: 20px;
    height: 300px;  
}
.service3 img{
    height: 250px;
}
.service4{
    display: flex;
    background-color: rgba(80, 196, 249, 0.5);
    padding: 20px;
    height: 300px;  
}
.service4 img{
    height: 250px;
}
.photo h3{
    margin-left: 600px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(241, 241, 105);
}
.images{
    padding: 10px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1) ;
    transition: 1s;
}
.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 200px;
}
.box:hover{
    transform: scale(1.2);
    z-index: 2;
}
footer{
    width: 100%;
    background: rgba(80, 196, 249, 0.5);
    color: #000;
}
.contenu{
    display: flex;
    margin: 50px;
    justify-content: center;
}
.contenu ul{
    list-style: none;
}
.contenu ul li a{
    text-decoration: none;
    color:#000 ;
}
.bloc-footer h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-bottom: 30px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(26, 199, 90);
}
.bloc-footer{
    padding: 70px;
}
.copy{
    display: flex;
    justify-content: center;
}